* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px){
	.background {
		background-image: linear-gradient(#0000006f, #0000006f), url("./Assets/Images/wallpaper.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	}
}
